<div class="row">
  <div class="col-md-12">
    <div class="card rounded-0">
      <div class="card-body">
        <h1>Edit Event</h1>
        <%= render 'form', event: @event %>
      </div>
    </div>
  </div>
</div>  
