<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%= render 'admin/speakers/index/filter', q: @q %>
      <%= render 'admin/speakers/index/lists', speakers: @speakers %>
    </div>
  </div>
</div>
